.DS_Store
.vscode
*.env*
.scss-lint.yml

/bower_components/
/node_modules/
yarn-error.log
/coverage

# local neo4j docker volume mounts
/neo4j
.eslintcache
junit.xml
packages/*/node_modules
packages/**/package-lock.json

package-lock.json
