version: '3'
services:
  neo4j:
    image: neo4j:3.5.0
    environment:
      - NEO4J_dbms_logs_query_enabled=true
      - NEO4J_AUTH=none
      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes
      - NEO4J_db_temporal_timezone=Z
    ports:
      - '7474:7474'
      - '7473:7473'
      - '7687:7687'
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/plugins:/plugins
      - ./neo4j/logs:/logs
