.editable-relationships {
	padding-top: 10px;
}

.react-autosuggest__suggestions-list {
	box-shadow: 1px 1px 5px #ccc;
	background: white;
	z-index: 2;
	position: absolute;
	left: 0;
	right: 0;
}

.editable-relationships,
.react-autosuggest__suggestions-list {
	list-style-type: none;
	margin: 0;
	padding-left: 0;
	margin-bottom: 0;
}

.editable-relationships li {
	margin-bottom: 0.5em;
}

.editable-relationships button {
	margin-right: 10px;
}

/* important rules are to clobber o-typography */
.react-autosuggest__suggestions-list li {
	padding: 0.5em !important;
	color: #0d7680;
	cursor: pointer;
}
/* stylelint-disable no-descending-specificity */
.react-autosuggest__suggestions-list li::before {
	display: none !important;
}
/* stylelint-enable no-descending-specificity */
.react-autosuggest__suggestions-list li[aria-selected='true'],
.react-autosuggest__suggestions-list li:hover,
.react-autosuggest__suggestions-list mark {
	color: #08474d;
	background: #cfe4e6;
}

.autocomplete__input:not([disabled]) {
	background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:search?source=o-icons&tint=%2333302E,%2333302E&format=svg');
	background-repeat: no-repeat;
	background-position-x: right;
}

.o-forms-input__error {
	position: static !important;
}

.treecreeper-relationship-props-list {
	margin-top: 0.5em;
}

.treecreeper-relationship-props-list span {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.treecreeper-relationship-props-list dt,
.treecreeper-relationship-props-list dd {
	padding-left: 0.5em;
	margin-bottom: 0.3em;
}

.treecreeper-relationship-props-list dd p {
	margin-bottom: 0 !important;
}
.treecreeper-relationship-props-list dt {
	display: flex;
}

.treecreeper-relationship-props-list dt:after {
	content: ':';
}

.treecreeper-relationship-props-list .treecreeper-help-icon {
	display: none;
}

.treecreeper-selected-relationship {
	margin-top: 0;
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 0.5em;
}

.treecreeper-selected-relationship > span:first-of-type {
	display: flex;
	justify-content: space-between;
}

.treecreeper-selected-relationship .o-layout-typography {
	flex-basis: 60%;
}

.treecreeper-selected-relationship div {
	display: inline;
}

.treecreeper-relationship-annotate {
	background: var(--o-colors-black-10);
	padding: 0.5em;
	margin-left: 1em;
}

.relationship-remove-button,
.relationship-annotate-button {
	min-width: 60px;
}

.relationship-annotate-button {
	margin-right: 0 !important;
	margin-left: 0.5em;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.relationship-remove-button {
	margin: auto 0 !important;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.relationship-annotate-button span:first-of-type {
	vertical-align: middle;
}

.relationship-annotate-icon {
	width: 1em;
	height: 1em;
	font-size: 2em;
	vertical-align: middle;
	color: var(--o-colors-black-10);
}

.relationship-annotate-button .o-icons-icon--edit {
	height: 0.9em !important;
	padding-top: 0.1em;
}

.treecreeper-relationship-annotate span.o-forms-input--checkbox {
	display: grid;
	grid-template-columns: 50% 50%;
}

.treecreeper-relationship-annotate__tooltip {
	max-width: 30%;
}

.treecreeper-relationship-annotate .o-icons-icon--info {
	width: 1.6em !important;
	height: 1.6em !important;
	vertical-align: bottom;
	margin-right: 1em;
}

.treecreeper-relationship-annotate .o-forms-input--inline label {
	max-width: 100%;
	margin-right: 0;
}
