.treecreeper-relationship-props-list {
	margin-top: 0.5em;
}

.treecreeper-relationship-props-list span {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.treecreeper-relationship-props-list dt,
.treecreeper-relationship-props-list dd {
	padding-left: 0.5em;
	margin-bottom: 0.3em;
}

.treecreeper-relationship-props-list dd p {
	margin-bottom: 0 !important;
}
.treecreeper-relationship-props-list dt {
	display: flex;
}

.treecreeper-relationship-props-list dt:after {
	content: ':';
}

.treecreeper-relationship-props-list .treecreeper-help-icon {
	display: none;
}

.treecreeper-selected-relationship {
	margin-top: 0;
	display: grid;
	grid-auto-flow: row;
	grid-row-gap: 0.5em;
}

.treecreeper-selected-relationship > span:first-of-type {
	display: flex;
	justify-content: space-between;
}

.treecreeper-selected-relationship .o-layout-typography {
	flex-basis: 60%;
}

.treecreeper-selected-relationship div {
	display: inline;
}

.treecreeper-relationship-annotate {
	background: var(--o-colors-black-10);
	padding: 0.5em;
	margin-left: 1em;
}

.relationship-remove-button,
.relationship-annotate-button {
	min-width: 60px;
}

.relationship-annotate-button {
	margin-right: 0 !important;
	margin-left: 0.5em;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.relationship-remove-button {
	margin: auto 0 !important;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.relationship-annotate-button span:first-of-type {
	vertical-align: middle;
}

.relationship-annotate-icon {
	width: 1em;
	height: 1em;
	font-size: 2em;
	vertical-align: middle;
	color: var(--o-colors-black-10);
}

.relationship-annotate-button .o-icons-icon--edit {
	height: 0.9em !important;
	padding-top: 0.1em;
}

.treecreeper-relationship-annotate span.o-forms-input--checkbox {
	display: grid;
	grid-template-columns: 50% 50%;
}

.treecreeper-enum__tooltip {
	max-width: 30%;
}

.treecreeper-relationship-annotate .o-forms-input--checkbox label {
	max-width: 100%;
	margin-right: 0;
}

[data-treecreeper-component='enum'] .tooltip-container {
	display: inline;
}

[data-treecreeper-component='enum'] .o-icons-icon--info {
	width: 1.6em !important;
	height: 1.6em !important;
	vertical-align: bottom;
	margin-right: 1em;
}
